/workdir/
/bin/

/n7_mac*/
/n7_etc*/
/n7_iso_extracted/
/r11_mac*/
/r11_etc*/
/r11_iso_extracted/
/e17_mac*/
/e17_etc*/
/e17_iso_extacted/

/n7_iso_cn_extracted/
/n7_etc_cn/
/e17_iso_cn_extracted/
/e17_etc_cn/

/text/tmp/
/text/mac-en-combined-psp/*.txt
/text/mac-en-combined-psp/old
/text/mac-en-combined-psp/workdir
/text/font/FONT*
/text/font/glyphs/
/text/font/glyphs-cn/

/iso/*.iso
/iso/*.dax
/iso/*.cso
/iso/*.xdelta

/patches/xdelta3/
/patches/bip/

/*.exe
/*.dll
/*.DUMP
/*.lnk

misc/
__pycache__/
*.pyc
/.vscode
